<h1 class="new_session">Login</h1>
<section class = "new_session">
  <form action="/sessions" method="POST">
    <label for="">Email: </label>
    <input type="text" name="email">

    <label for="">Password: </label>
    <input type="password" name="password">

    <button>Log in</button>
  </form>
</section>
