<h1>Edit Data</h1>

<section class="coin_table">
   <table>
    <tr>
      <th>Bought Date</th>
      <th>Units Own</th>
    </tr>
    <tr> 
      <td><%= coins['bought_date']%></td>
      <td><%= coins['unit_amount']%></td>
  </table>
  </section>
  <section class="edit_form"> 
    <form action="/coins/<%= coins['id'] %>" method="POST">
    <input type="hidden" name="_method" value="put">
      <br>
    <label for="">Bought date: </label>
    <input type="date" name="bought_date">
     <br>
    <label for="">Amount: </label>
    <input type="number" name="unit_amount">
     <br>
    <button>Update coin</button>
    </form>
  </section>