<h1>Edit Data</h1>
<a href="/coins/<%= coins['id'] %>/info">Back</a>
<section class="coin_table">
   <table>
    <tr>
      <th>Bought Date</th>
      <th>Units Own</th>
    </tr>
    <tr> 
      <td><%= coins['bought_date']%></td>
      <td><%= coins['unit_amount']%></td>
  </table>
  </section>
   <form action="/coins/<%= coins['id'] %>" method="POST">
    <input type="hidden" name="_method" value="put">
  
      <div class="new_coin"> 
    <section class="edit_form"> 
    <div>
      <label for="">Bought date: </label>
      <input type="date" name="bought_date">
    </div>
    <div>
    
      <label for="">Amount: </label>
      <input type="number" name="unit_amount">
    </div>
    <div>
        <button>Update coin</button>
    </div>
  
    </form>
  </section>
  </div>