<h1>Add Coins</h1>
<form action="/coins" method="POST">
  <label for="">coin code: </label>
  <input type="text" name="coin_code">

  <label for="">bought date: </label>
  <input type="date" name="bought_date">

  <label for="">Unit Amount: </label>
  <input type="number" name="unit_amount">

  <button>Add Coins</button>
</form>